html {	
	margin: 0;
	
	height: 100%;
}

body {
	margin: 0;
	background-color: #BBB;
	
	height: 100%;
}

p {
	margin-top: 0;	
}

em {
	font-weight: bold;
	font-style: italic;	
}

/* Engine Container */

#pbsStorybookContainer {
	/* Keep all elements within the pages */
	overflow-x: hidden;
	
	/* Turn off tap highlight in Mobile Safari */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	/* Relative position is required to position the absolute positioned elements */
	position: relative !important;
	
	width: 100%;
	height: 100%;
}

/* Background */

#pbsBookWrapper {
	/* Keep all elements within the wrapper */
	overflow-x: hidden;
	
	width: 100%;
	height: 100%;
}

/* Book */

#pbsBookContainer {
	width: 100%; 

}

.pbsPageTurnContainer {
	position: relative;
	
	/* Keep all elements within the pages */
	overflow-x: hidden;

	width: 50%;
	height: 100%;
	
	/* Represent book depth */
	border-bottom: 2px #333 solid;
}

.pbsPageTurnPageContainer {

	position: absolute;

	width: 100%;
	height: 100%;
}

.pbsRightPageTurnGradient {

	/* Represent page edge */
	border-right: 4px #000 solid;

	position: absolute;

	background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(rgba(100, 100, 100, 0)), to(rgba(100, 100, 100, 0.5)));
	background-image: -webkit-linear-gradient(right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5)); 
	background-image: -moz-linear-gradient(right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
	background-image: -ms-linear-gradient(right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
	background-image: -o-linear-gradient(right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
	
	width: 100%;
	height: 100%;
}

.pbsLeftPageTurnGradient {
	/* Represent page edge */
	border-left: 4px #000 solid;

	position: absolute;

	background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgba(100, 100, 100, 0)), to(rgba(100, 100, 100, 0.5)));
	background-image: -webkit-linear-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5)); 
	background-image: -moz-linear-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
	background-image: -ms-linear-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
	background-image: -o-linear-gradient(left, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.5));
	
	width: 100%;
	height: 100%;
}

.pbsPagesContainer {

	position: absolute;
	
	/* Keep all elements within the pages */
	overflow-x: hidden;
	overflow-y: hidden;
	
	width: 100%;
	height: 100%;
	
	/* Represent book depth */
	border-bottom: 2px #333 solid;
	
	/* Book shadow */
	-moz-box-shadow: 0px 1px 5px 0px #000;
	-webkit-box-shadow: 0px 1px 5px 0px #000;
	box-shadow: 0px 1px 5px 0px #000;
}

.pbsPageContainer {
	height: 100%;
	float: left;
}

.pbsPage {
	/* Relative position is required to position the absolute positioned elements */
	position: relative !important;
	
	width: 100%;
	height: 100%;
}

.pbsPageCanvas {
	/* Position left page and right page next to each other */
	float: left;
	
	width: 100%;
	height: 100%;
}

.pbsSprite {
	
}

.pbsCanvas {
	/* Layer the element on top of the page */
	position: absolute;
}

.pbsTextArea {
	/* Layer the element on top of the page */
	position: absolute;
	
	margin: 0;
	
	/* Remove the default text cursor */
	cursor: default;
	
	/* Prevent highlighting text on drag */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pbsDrawingPad {
	/* Layer the element on top of the page */
	position: absolute;
	
	margin: 0;
}

.drawingCanvas {
	position: absolute;
	
	width: 100%;
	height: 100%;
}

/* Page Buttons */

.pbsStorybookNav {
	/* Nav container will have absolute buttons so it does not need dimensions */
	width: 0;
	height: 0;
}

/* Loading */

.loadingContainer {
	width: 100%;
	height: 100%;
}

#loadingText {
	text-align: center;
	margin-top: 30%;
	font-size: 40px;
	width: 100%;
}