html {	
	margin: 0;
	
	/* Make wrapper taller than viewport to allow for the iPhone URL bar to disappear */
	min-height: 120%;
}

body {
	margin: 0;
	background-color: #BBB;
	
	height: 100%;
}

/* Engine Container */

#pbsStorybookContainer { 
	/* Turn off tap highlight in Mobile Safari */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	/* Relative position is required to position the absolute positioned elements */
	position: relative !important;
	
	width: 100%;
	height: 100%;
}

/* Background */

#pbsBookWrapper {
	/* Keep all elements within the wrapper */
	overflow-x: hidden;
	
	width: 100%;
	height: 100%;
}

/* Book */

#pbsBookContainer {
	/* Animate page transitions */
	transition: margin-left 0.25s linear;
	-webkit-transition: margin-left 0.25s linear;
	-moz-transition: margin-left 0.25s linear;
	-ms-transition: margin-left 0.25s linear;
	
	width: 100%; 
	height: 100%;
}

.pbsPagesContainer {
	/* Represent book depth */
	border-bottom: 2px #333 solid;
	
	/* Keep all elements within the pages */
	overflow-x: hidden;
	
	/* Book shadow */
	-moz-box-shadow: 0px 1px 6px 1px #000;
	-webkit-box-shadow: 0px 1px 6px 1px #000;
	box-shadow: 0px 1px 6px 1px #000;
	
	width: 100%;
	height: 100%;
}

.pbsPageContainer {
	height: 100%;
	float: left;
}

.pbsPage {
	/* Relative position is required to position the absolute positioned elements */
	position: relative !important;
	
	width: 100%;
	height: 100%;
}

.pbsPageCanvas {
	/* Position left page and right page next to each other */
	float: left;
	
	width: 100%;
	height: 100%;
}

.pbsSprite {
	
}

.pbsCanvas {
	/* Layer the element on top of the page */
	position: absolute;
}

.pbsTextArea {
	/* Layer the element on top of the page */
	position: absolute;
	
	/* Remove the default text cursor */
	cursor: default;
	
	margin: 0;
	
	/* Prevent highlighting text on drag */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Page Buttons */

.pbsStorybookNav {
	/* Relative position is required to position the absolute positioned elements */
	/*position: relative !important;*/
	
	width: 100%;
	height: 100%;
}

.pbsPageButton {
	
}

#pbsPrevPageButton {
	
}

#pbsNextPageButton {
	
}

/* Loading */

.loadingText {
	text-align: center;
	margin-top: 40%;
	font-size: 40px;
	width: 100%;
}