
@font-face {
    font-family: 'Reenie Beanie';
    src: url('reenie-beanie/reenie-beanie.eot');
    src: url('reenie-beanie/reenie-beanie.eot?#iefix') format('embedded-opentype'),
         url('reenie-beanie/reenie-beanie.woff') format('woff'),
         url('reenie-beanie/reenie-beanie.ttf') format('truetype'),
         url('reenie-beanie/reenie-beanie.svg#Reenie_Beanie') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Serif';
    src: url('droid-serif/droid-serif.eot');
    src: url('droid-serif/droid-serif.eot?#iefix') format('embedded-opentype'),
         url('droid-serif/droid-serif.woff') format('woff'),
         url('droid-serif/droid-serif.ttf') format('truetype'),
         url('droid-serif/droid-serif.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
